*.asax eol=crlf
*.aspx eol=crlf
*.config eol=crlf
*.cs eol=crlf
*.csv eol=crlf
*.cshtml eol=crlf
*.csproj eol=crlf
*.css eol=crlf
*.htm eol=crlf
*.html eol=crlf
*.ini eol=crlf
*.js eol=crlf
*.json eol=crlf
*.log eol=crlf
*.markdown eol=crlf
*.md eol=crlf
*.nuspec eol=crlf
*.resx eol=crlf
*.scss eol=crlf
*.sln eol=crlf
*.sql eol=crlf
*.sqlproj eol=crlf
*.tsv eol=crlf
*.tt eol=crlf
*.txt eol=crlf
*.weignore eol=crlf
*.xml eol=crlf
*.xsd eol=crlf
*.xsl eol=crlf
*.yaml eol=crlf