Externals/Core/PS.Mothership.Core/PS.Mothership.Core.Common.Log4NetJsonFormatter/bin/
Externals/Core/PS.Mothership.Core/PS.Mothership.Core.Common.Log4NetJsonFormatter/obj/
Externals/Core/PS.Mothership.Core/PS.Mothership.Core.Common.Rellaid/obj/
Externals/Core/PS.Mothership.Core/PS.Mothership.Core.Common.Template/bin/
Externals/Core/PS.Mothership.Core/PS.Mothership.Core.Common.Template/obj/
Externals/Core/PS.Mothership.Core/PS.Mothership.Core.Common/bin/
Externals/Core/PS.Mothership.Core/PS.Mothership.Core.Common/obj/
PS.Mothership.Services/PS.MotherShip.ThirdParty.SMS/bin/
PS.Mothership.Services/PS.MotherShip.ThirdParty.SMS/obj/
PS.Mothership.Services/PS.Mothership.Auditing/bin/
PS.Mothership.Services/PS.Mothership.Auditing/obj/
PS.Mothership.Services/PS.Mothership.Caching/bin/
PS.Mothership.Services/PS.Mothership.Caching/obj/
PS.Mothership.Services/PS.Mothership.DAL.Data.Comm/bin/
PS.Mothership.Services/PS.Mothership.DAL.Data.Comm/obj/
PS.Mothership.Services/PS.Mothership.DAL.Data.Cust/bin/
PS.Mothership.Services/PS.Mothership.DAL.Data.Cust/obj/
PS.Mothership.Services/PS.Mothership.DAL.Data.Dial/bin/
PS.Mothership.Services/PS.Mothership.DAL.Data.Dial/obj/
PS.Mothership.Services/PS.Mothership.DAL.Data.Event/bin/
PS.Mothership.Services/PS.Mothership.DAL.Data.Event/obj/
PS.Mothership.Services/PS.Mothership.DAL.Data.Usr/bin/
PS.Mothership.Services/PS.Mothership.DAL.Data.Usr/obj/
PS.Mothership.Services/PS.Mothership.DAL/bin/
PS.Mothership.Services/PS.Mothership.DAL/obj/
PS.Mothership.Services/PS.Mothership.Domain/bin/
PS.Mothership.Services/PS.Mothership.Domain/obj/
PS.Mothership.Services/PS.Mothership.IntegrationTest/bin/
PS.Mothership.Services/PS.Mothership.IntegrationTest/obj/
PS.Mothership.Services/PS.Mothership.Repository/bin/
PS.Mothership.Services/PS.Mothership.Repository/obj/
PS.Mothership.Services/PS.Mothership.Scheduler/bin/
PS.Mothership.Services/PS.Mothership.Scheduler/obj/
PS.Mothership.Services/PS.Mothership.Security/obj/
PS.Mothership.Services/PS.Mothership.Service/bin/
PS.Mothership.Services/PS.Mothership.Service/obj/
PS.Mothership.Services/PS.Mothership.Services.Globals/obj/
PS.Mothership.Services/PS.Mothership.ThirdParty.CompaniesHouse/bin/
PS.Mothership.Services/PS.Mothership.ThirdParty.CompaniesHouse/obj/
PS.Mothership.Services/PS.Mothership.ThirdParty.Email/bin/
PS.Mothership.Services/PS.Mothership.ThirdParty.Email/obj/
PS.Mothership.Services/PS.Mothership.ThirdParty.Experian/bin/
PS.Mothership.Services/PS.Mothership.ThirdParty.Experian/obj/
PS.Mothership.Services/PS.Mothership.ThirdParty.OnboardingAPI/bin/
PS.Mothership.Services/PS.Mothership.ThirdParty.OnboardingAPI/obj/
PS.Mothership.Services/PS.Mothership.ThirdParty.PostCodeAnyWhere/bin/
PS.Mothership.Services/PS.Mothership.ThirdParty.PostCodeAnyWhere/obj/
PS.Mothership.Services/PS.Mothership.ThirdParty/bin/
PS.Mothership.Services/PS.Mothership.ThirdParty/obj/
PS.Mothership.Services/PS.Mothership.ThirdPartyModels/bin/
PS.Mothership.Services/PS.Mothership.ThirdPartyModels/obj/
PS.Mothership.Services/PS.Mothership.UnitTest/bin/
PS.Mothership.Services/PS.Mothership.UnitTest/obj/
PS.Mothership.Services/PS.Mothership.WindowsService.WcfHosting/bin/
PS.Mothership.Services/PS.Mothership.WindowsService.WcfHosting/obj/
PS.Mothership.Services/packages/*
!PS.Mothership.Services/packages/repositories.config

