<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- CompaniesHouse Settings -->
    <add key="CompaniesHouseGatewayUserId" value="22075804094818262698720017563970" />
    <add key="CompaniesHouseGatewayPassword" value="6znnj4vnziaqcrgjg9ufbo0cqs0hl0b9" />

    <!-- CompaniesHouse Settings -->
    <add key="CompaniesHouseGatewayUserId" value="84802052624931681834118648311984" />
    <add key="CompaniesHouseGatewayPassword" value="hptctyzonfvdo7oymml4q6np9l9yk2sp" />

    <!-- Companies House Settings -->
    <add key="CompaniesHouseXmlWebUrl" value="http://data.companieshouse.gov.uk/doc/company/{0}.xml" />
    <add key="CompaniesHouseJsonWebUrl" value="http://data.companieshouse.gov.uk/doc/company/{0}.json" />
    <add key="CompaniesHouseGatewayEndpoint" value="https://xmlgw.companieshouse.gov.uk/v1-0/xmlgw/Gateway" />
    <add key="CompaniesHouseWebRequestTimeoutMilliseconds" value="25000" />
    <add key="CompaniesHouseMaxRetryCount" value="3" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Facilities.WcfIntegration" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>