<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="traceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\log\ipmanager.log" />
      </listeners>
    </trace>
  </system.diagnostics>-->
</configuration>