<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="enumDescriptionColumnName" value="Name"/>
    <add key="tableEndingName" value="Enum"/>
    <add key="flagName" value="Flag"/>
    <add key="enumNameSpace" value="PS.Mothership.Core.Common.Template"/>
  </appSettings>
  <connectionStrings>
    <!-- 
        This connection string is used within T4 template for auto generating class/enum/structure etc.
        
        The name attribute is used to prefix the file name of the template and also added as part of 
        the suffix to the name space of the templates.
        
        Make user the name attribute is context specific and don't give a name which is environment specific, 
        e.g. "PS_MS_DEV_Context"  -> NOT RIGHT
             "PS_MS_Context"  -> RIGHT
    -->
    <add name="PS_Mothership" connectionString="data source=(local);initial catalog=PSMS;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
